.header {
    margin-top: 1rem;
    border-bottom: 1px solid cadetblue;
    padding-bottom: 1rem;
}

.header a {
    text-decoration: none;
    margin-right: 1rem;
    font-size: 20px;
    color: cadetblue;
    font-weight: 500;
}
h2 {
    color: cornflowerblue;
    font-weight: 500;
    letter-spacing: 5px;
}